<div id="<%= dom_id client %>">
  <p class="my-5">
    <strong class="block font-medium mb-1">Name:</strong>
    <%= client.name %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Surname:</strong>
    <%= client.surname %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Born:</strong>
    <%= client.born_id %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">From:</strong>
    <%= client.from %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Visiting for:</strong>
    <%= client.visiting_for %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Paid:</strong>
    <%= client.paid %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Diagnos:</strong>
    <%= client.diagnos %>
  </p>

  <p class="my-5">
    <strong class="block font-medium mb-1">Date of visit:</strong>
    <%= client.date_of_visit %>
  </p>

</div>
