<div class="w-full">
  <style>
    th {
      text-align: left;
    }
  </style>
  <% if notice.present? %>
    <p class="py-2 px-3 bg-green-50 mb-5 text-green-500 font-medium rounded-lg inline-block" id="notice"><%= notice %></p>
  <% end %>

  <% content_for :title, "Clients" %>

  <div class="flex justify-between items-center">
    <h1 class="font-bold text-4xl">today is <%= Date.today %></h1>
    <%= link_to "New client", new_client_path, class: "rounded-lg py-3 px-5 bg-blue-600 text-white block font-medium" %>
  </div>

  <div id="clients" class="min-w-full py-5">
    
    <table class="w-full rounded-xl overflow-hidden">
      <thead class="bg-gray-950 text-white">
        <tr>
          <th class="py-4 px-4">No:</th>
          <th class="py-4 px-4">full name:</th>
          <th class="py-4 px-4">born in:</th>
          <th class="py-4 px-4">from:</th>
          <th class="py-4 px-4">visiting for:</th>
          <th class="py-4 px-4">paid:</th>
        </tr>
      </thead>
      <tbody class="bg-white text-gray-950">
        <% @clients.each_with_index do |client, index| %>
            <tr class="<%= "bg-gray-100" if index % 2 == 0 %>">
              <th class="py-4 px-4"><%= client.id %></th>
              <th class="py-4 px-4 hover:text-blue-500 hover:underline"><%= link_to client.name + " " + client.surname, client %></th>
              <th class="py-4 px-4"><%= client.born_id %></th>
              <th class="py-4 px-4"><%= client.from %></th>
              <th class="py-4 px-4"><%= client.visiting_for %></th>
              <th class="py-4 px-4"><%= client.paid %> UZS</th>
            </tr>
        <% end %>
      </tbody>
    </table>

    
    <% if @clients.length == 0 %>
      <div class="w-full bg-white py-28 flex flex-col items-center my-5 rounded-xl">
      <%= link_to new_client_path do %>
        <i class='bx bx-add-to-queue text-6xl text-gray-600'></i>
      <% end %>
      <h2 class="text-xl font-semibold">We have no clients yet</h2>
      <%= link_to "add new client now", new_client_path, class: "text-blue-500 underline" %>
    </div>
    <% end %>
    
    
  </div>
</div>
